body{
	background-color:yellow;
	}
h1{
	margin:100px;color:red;
	}
video{
	margin-top:100px;
	}
img{
	padding:100px;
	border:20px solid green;
  }
ul{
	list-style:none;
	}
ol{
	color:red;
	}
#student_1{
	color:green;background-color:red;padding:2px;
		}
iframe{
	border:20px solid blue;padding:50px;
		}
form{
	color:red;padding:100px;

	}